{"openapi":"3.1.0","info":{"title":"Zuddl API Documentation","description":"Zuddl RESTful APIs let you interact with the Zuddl platform and take action for your event or webinar. They let you add attendees, get attendee details, get event details, and more.\n\nThe API response is returned in JSON, which your systems can easily consume.\n\nThe API parameters allow you to customize the response using filters, sorting, pagination, and other parameters.\n\n# Rate limits\n\n| Metrics | Value |\n| --- | --- |\n| Requests/second | 10 |\n| Burst or no. of concurrent calls allowed | 100 requests |\n| Total quota | 10000 requests/day |","version":"1.0"},"servers":[{"url":"https://api.zuddl.com/"}],"security":[{"api_key":[]}],"tags":[{"name":"Events","description":"API endpoints for managing events"},{"name":"Attendees","description":"The attendee APIs let you add and retrieve attendee in a particular event type."},{"name":"Sessions","description":"API endpoints for managing event sessions"},{"name":"Speakers","description":"API endpoints for managing event speakers"},{"name":"Sponsors","description":"API endpoints for managing event sponsors"}],"paths":{"/v1/events/{eventId}/attendees":{"get":{"tags":["Attendees"],"summary":"Get all attendee details","description":"Use this endpoint to retrieve the details of all attendees added to a particular event type in your Zuddl organization. You can use query parameters such as filter, pagination, or sort to customize the response\n\nRequired API key scopes: `READ`\n\n**This API can only be called with an access key that was generated for Backend usage.**","operationId":"getAttendees","parameters":[{"name":"eventId","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string"},"example":"4fcebf73-3ddb-4fe6-b56d-5dd7dedb7c3d"},{"name":"filter","in":"query","description":"Filter query in format: \n\nAvailable filters:\n- createdAt: operations [lt, gt, between, lte, eq, gte]\n- profile.country: operations [in, eq]\n- profile.designation: operations [like, notlike]\n- profile.industry: operations [like, in, eq]\n- profile.lastName: operations [like, notlike]\n- profile.firstName: operations [like, notlike]\n- profile.company: operations [like, notlike]\n- updatedAt: operations [lt, gt, between, lte, eq, gte]\n","required":false,"schema":{"type":"string"},"example":"profile.firstName:like:Jane,createdAt:gt:2023-01-01T00:00:00Z"},{"name":"sort","in":"query","description":"Sort query in format: \n\nThe following fields are sortable:\n- createdAt\n- profile.lastName\n- profile.firstName\n- updatedAt\n","required":false,"schema":{"type":"string"},"example":"createdAt:desc,profile.firstName:asc"},{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"number"},"example":"1"},{"name":"size","in":"query","description":"Page size (default: 10, max: 50)","required":false,"schema":{"type":"number"},"example":"10"}],"responses":{"400":{"description":"Invalid event ID supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"401":{"description":"Unauthorized access to event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Event not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"List of attendees retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendeePage"}}}}},"x-required-scopes":["READ"],"x-is-backend-only":true},"post":{"tags":["Attendees"],"summary":"Add an attendee","description":"This API endpoint adds an attendee by passing the required registration details in the request payload. The attendee must be associated with a registration flow. If it is a ticketed event, the attendee must also be associated with a ticket as well. A unique registrationId is created that identifies the particular attendee.\n\nRequired API key scopes: `WRITE`\n\n**This API can only be called with an access key that was generated for Backend usage.**","operationId":"registerAttendee","parameters":[{"name":"eventId","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string"},"example":"4fcebf73-3ddb-4fe6-b56d-5dd7dedb7c3d"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.RegisterEventAttendeeRequest"}}},"required":true},"responses":{"400":{"description":"Invalid event ID supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"401":{"description":"Unauthorized access to event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Event not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"201":{"description":"Registered attendee successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee"}}}}},"x-required-scopes":["WRITE"],"x-is-backend-only":true}},"/v1/events":{"get":{"tags":["Events"],"summary":"Get all events","description":"This endpoint returns the details of all events (all event types: webinar, field events, events) created by your Zuddl organization. You can use query parameters to filter and sort out the list, and pagination to show the list in an order.\n\nRequired API key scopes: `READ`","operationId":"getEvents","parameters":[{"name":"filter","in":"query","description":"Filter query in format: \n\nAvailable filters:\n- teamName: operations [eq]\n- createdAt: operations [lt, gt, between, lte, eq, gte]\n- endDate: operations [lt, gt, between, lte, eq, gte]\n- createdBy: operations [in, eq]\n- location.address.country: operations [in, eq]\n- name: operations [like, notlike]\n- location.address.stateProvince: operations [in, eq]\n- parentEventId: operations [eq]\n- type: operations [in, eq]\n- eventFormat: operations [in, eq]\n- startDate: operations [lt, gt, between, lte, eq, gte]\n- status: operations [in, eq]\n","required":false,"schema":{"type":"string"},"example":"type:eq:WEBINAR,createdAt:gt:2023-10-27T10:00:00Z"},{"name":"sort","in":"query","description":"Sort query in format: \n\nThe following fields are sortable:\n- createdAt\n- endDate\n- name\n- startDate\n- updatedAt\n","required":false,"schema":{"type":"string"},"example":"createdAt:desc"},{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"number"},"example":"1"},{"name":"size","in":"query","description":"Page size (default: 10, max: 50)","required":false,"schema":{"type":"number"},"example":"10"}],"responses":{"400":{"description":"Invalid org ID supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"List of events retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.EventListPage"}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"401":{"description":"Unauthorized access to org","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}}},"x-required-scopes":["READ"],"x-is-backend-only":false}},"/v1/events/{eventId}":{"get":{"tags":["Events"],"summary":"Get event details","description":"Use this endpoint to retrieve the details of a specific event, webinar, or field event created in your Zuddl organization.\n\nRequired API key scopes: `READ`","operationId":"getAnEvent","parameters":[{"name":"eventId","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string"},"example":"4fcebf73-3ddb-4fe6-b56d-5dd7dedb7c3d"}],"responses":{"400":{"description":"Invalid event ID supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"401":{"description":"Unauthorized access to event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Event not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"Event details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.EventDetail"}}}}},"x-required-scopes":["READ"],"x-is-backend-only":false}},"/v1/events/{eventId}/sponsors":{"get":{"tags":["Sponsors"],"summary":"Get all sponsor details","description":"Use this endpoint to retrieve the details of all sponsors added to a particular event type in your Zuddl organization. You can use query parameters such as filter, pagination, or sort to customize.","operationId":"getSponsors","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"evt-abc123xyz"},{"name":"filter","in":"query","description":"Filter query in format: \n\nAvailable filters:\n- tier.tierName: operations [like, in, eq]\n","required":false,"schema":{"type":"string"},"example":"tier.tierName:like:Gold"},{"name":"sort","in":"query","description":"Sort query in format: \n\nThe following fields are sortable:\n- name\n- tier.tierName\n- title\n","required":false,"schema":{"type":"string"},"example":"name:asc,tier.tierName:asc"},{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"number"},"example":"1"},{"name":"size","in":"query","description":"Page size (default: 10, max: 50)","required":false,"schema":{"type":"number"},"example":"10"}],"responses":{"400":{"description":"Invalid event ID supplied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Event not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"List of sponsors retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetailsPage"}}}},"401":{"description":"Unauthorized access to event","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}}}}},"/v1/events/{eventId}/sponsors/{sponsorId}":{"get":{"tags":["Sponsors"],"summary":"Get sponsor details","description":"Use this endpoint to retrieve the details of a specific sponsor added to a particular event type in your Zuddl organization.\n\nRequired API key scopes: `READ`","operationId":"getSponsor","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"evt-abc123xyz"},{"name":"sponsorId","in":"path","description":"Sponsor ID","required":true,"schema":{"type":"string"},"example":"spo-789ghi"}],"responses":{"400":{"description":"Invalid sponsor ID or event ID","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Sponsor not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"Sponsor details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetails"}}}}},"x-required-scopes":["READ"],"x-is-backend-only":false}},"/v1/events/{eventId}/speakers":{"get":{"tags":["Speakers"],"summary":"Get all speaker details","description":"Use this endpoint to retrieve the details of all speakers added to a particular event type in your Zuddl organization. You can use query parameters such as filter, pagination, or sort to customize the response.","operationId":"getSpeakers","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"evt-abc123xyz"},{"name":"sort","in":"query","description":"Sort query in format: \n\nThe following fields are sortable:\n- speakerOrder\n- profile.firstName\n","required":false,"schema":{"type":"string"},"example":"profile.firstName:asc,speakerOrder:asc"},{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"number"},"example":"1"},{"name":"size","in":"query","description":"Page size (default: 10, max: 50)","required":false,"schema":{"type":"number"},"example":"10"}],"responses":{"400":{"description":"Invalid event ID supplied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Event not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"List of speakers retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetailsPage"}}}},"401":{"description":"Unauthorized access to event","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}}}}},"/v1/events/{eventId}/speakers/{speakerId}":{"get":{"tags":["Speakers"],"summary":"Get speaker details","description":"Use this endpoint to retrieve the details of a specific speaker added to a particular event type in your Zuddl organization.\n\nRequired API key scopes: `READ`","operationId":"getSpeaker","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"evt-abc123xyz"},{"name":"speakerId","in":"path","description":"Speaker ID","required":true,"schema":{"type":"string"},"example":"spk-456def"}],"responses":{"400":{"description":"Invalid speaker ID or event ID","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"Speaker details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetails"}}}},"404":{"description":"Speaker not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}}},"x-required-scopes":["READ"],"x-is-backend-only":false}},"/v1/events/{eventId}/sessions":{"get":{"tags":["Sessions"],"summary":"Get all sessions","description":"Use this endpoint to retrieve the list of all sessions in a particular event type in your Zuddl organization. You can use query parameters such as filter, pagination, or sort to customize the response","operationId":"getSessions","parameters":[{"name":"eventId","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string"},"example":"4fcebf73-3ddb-4fe6-b56d-5dd7dedb7c3d"},{"name":"filter","in":"query","description":"Filter query in format: \n\nAvailable filters:\n- location.name: operations [like, eq]\n- startDateTime: operations [lt, gt, between, lte, eq, gte]\n- endDateTime: operations [lt, gt, between, lte, eq, gte]\n- tags: operations [in]\n","required":false,"schema":{"type":"string"},"example":"startDateTime:gt:2023-01-01"},{"name":"sort","in":"query","description":"Sort query in format: \n\nThe following fields are sortable:\n- startDateTime\n- endDateTime\n- title\n","required":false,"schema":{"type":"string"},"example":"title:desc,startDateTime:asc"},{"name":"page","in":"query","description":"Page number (default: 1)","required":false,"schema":{"type":"number"},"example":"1"},{"name":"size","in":"query","description":"Page size (default: 10, max: 50)","required":false,"schema":{"type":"number"},"example":"10"}],"responses":{"400":{"description":"Invalid event ID supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"List of sessions retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.session.dtos.SessionDetailsPage"}}}},"401":{"description":"Unauthorized access to event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Event not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}}}}},"/v1/events/{eventId}/sessions/{sessionId}":{"get":{"tags":["Sessions"],"summary":"Get session details","description":"Use this endpoint to retrieve the details of a specific session added to a particular event type in your Zuddl organization.\n\nRequired API key scopes: `READ`","operationId":"getSession","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"evt-abc123xyz"},{"name":"sessionId","in":"path","description":"Session ID","required":true,"schema":{"type":"string"},"example":"seg-789ghi"}],"responses":{"400":{"description":"Invalid session ID or event ID","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Session not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"Session details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.session.dtos.SessionDetails"}}}}},"x-required-scopes":["READ"],"x-is-backend-only":false}},"/v1/events/{eventId}/attendees/{registrationId}":{"get":{"tags":["Attendees"],"summary":"Get attendee details","description":"Use this endpoint to retrieve the details of a specific attendee added to a particular event type in your Zuddl organization.\n\nRequired API key scopes: `READ`\n\n**This API can only be called with an access key that was generated for Backend usage.**","operationId":"getAttendeeByRegistrationId","parameters":[{"name":"eventId","in":"path","description":"Unique identifier of the event","required":true,"schema":{"type":"string"},"example":"4fcebf73-3ddb-4fe6-b56d-5dd7dedb7c3d"},{"name":"registrationId","in":"path","description":"Unique identifier of the attendee","required":true,"schema":{"type":"string"},"example":"659d88a3-42d2-42db-86cd-dc7e89eac57f"}],"responses":{"400":{"description":"Invalid event ID or registration ID supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"404":{"description":"Attendee registration not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}},"200":{"description":"Attendee registration retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee"}}}},"401":{"description":"Unauthorized access to event","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.events.app._internal._response.v1.ApiErrorResponse"}}}}},"x-required-scopes":["READ"],"x-is-backend-only":true}}},"components":{"schemas":{"org.events.app._internal._response.v1.ApiErrorResponse":{"properties":{"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"description":{"type":"string"},"errors":{"type":"object","additionalProperties":{"type":"string"}}}},"org.events.app.domain.api_product.event.attendee.dtos.RegisterEventAttendeeRequest":{"properties":{"eventId":{"type":"string","format":"uuid","description":"Unique identifier of the event for the attendee","example":"d812a64f-8865-4289-9024-9a120792c3d8"},"firstName":{"type":"string","description":"First name of the attendee","example":"John","maxLength":150,"minLength":0},"lastName":{"type":"string","description":"Last name of the attendee","example":"Doe","maxLength":150,"minLength":0},"email":{"type":"string","description":"Email address of the attendee","example":"johndoe@zuddl.com","maxLength":150,"minLength":0},"bio":{"type":"string","description":"Short biography of the attendee.","maxLength":2000,"minLength":0},"company":{"type":"string","description":"Company of the attendee","maxLength":255},"country":{"type":"string","description":"Country of the attendee","example":"United States","maxLength":255},"designation":{"type":"string","description":"Designation of the attendee","maxLength":255},"phoneNumber":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.RegisterEventAttendeeRequest$PhoneNumber","description":"Phone number of the attendee"},"customFieldsData":{"type":"array","description":"Custom registration fields and their values. Each object must include a 'fieldSlug' and a corresponding 'value'. <br>\n- For dropdown (single-select) fields, provide one option as a simple string (e.g., \"value\": \"Option1\").<br>\n- For multiselect fields, provide comma-separated values (e.g., \"value\": \"Option1, Option2\"). <br>  → In both dropdown and multiselect, the provided values **must match the defined options**.<br>\n- For date fields, use the format 'YYYY-MM-DD'.<br>\n- For number fields, provide numeric values (e.g., age).<br>\n- For all other supported field types, provide a simple string in the 'value'.<br>\n","example":[{"fieldSlug":"city1","value":"New York City"},{"fieldSlug":"age","value":30},{"fieldSlug":"interests","value":"Reading, Music, Travel"},{"fieldSlug":"birthDate","value":"2001-06-27"},{"fieldSlug":"country","value":"United States"}],"items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.CustomFieldData"}},"disclaimers":{"type":"array","description":"Disclaimers of the registration","example":[{"id":"66a2a042-afcf-4535-823e-65ea80deb6a9","consentGiven":"true"}],"items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.RegisterEventAttendeeRequest$Disclaimer"}},"flowId":{"type":"string","format":"uuid","description":"The unique identifier of the registration flow for the attendee.","example":"814d4453-16e2-45cb-814a-7baf152c4f3b"},"ticketDetails":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.RegisterEventAttendeeRequest$TicketDetails","description":"Ticket details for the attendee"},"socialLinks":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.SocialLinks","description":"Social links of the attendee"},"sendRegistrationConfirmationEmail":{"type":"boolean","default":"false","description":"A boolean that specifies whether a registration confirmation email is to be sent to the attendee.","enum":["true","false"],"example":true}},"required":["email","eventId","firstName","lastName"]},"org.events.app.domain.api_product.event.attendee.dtos.RegisterEventAttendeeRequest$PhoneNumber":{"properties":{"code":{"type":"string","description":"Country calling code","example":"+1"},"number":{"type":"string","description":"Phone number (without country code)","example":2125551234}},"required":["code","number"]},"org.events.app.domain.api_product.event.attendee.dtos.RegisterEventAttendeeRequest$TicketDetails":{"properties":{"ticketTypeId":{"type":"string","format":"uuid","description":"Unique identifier of the ticket type associated with the attendee","example":"cce22fae-3536-4b28-b927-bec560dd4c37"}},"required":["ticketTypeId"]},"org.events.app.domain.api_product.event.attendee.dtos.SocialLinks":{"properties":{"linkedin":{"type":"string","description":"Attendee’s LinkedIn profile URL","example":"https://www.linkedin.com/company/zuddl"},"twitter":{"type":"string","description":"Attendee’s Twitter profile URL","example":"https://x.com/wearezuddl"},"instagram":{"type":"string","description":"Attendee’s GitHub profile URL","example":"https://www.instagram.com/wearezuddl"},"facebook":{"type":"string","description":"Attendee’s Facebook profile URL","example":"https://facebook.com/zuddl"},"website":{"type":"string","description":"Attendee’s personal website URL","example":"https://www.zuddl.com"}}},"org.events.app.domain.api_product.event.attendee.dtos.EventAttendee":{"properties":{"kind":{"type":"string"},"url":{"type":"string","format":"uri"},"id":{"type":"string","format":"uuid","description":"Unique Identifier of the event registration for the attendee","example":"d5e31ba5-2d1e-4918-bb60-dd1514b4b397"},"eventId":{"type":"string","format":"uuid","description":"Unique identifier of the event for the attendee","example":"d812a64f-8865-4289-9024-9a120792c3d8"},"profile":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$Profile","description":"Profile details of the attendee"},"customFieldsData":{"type":"array","description":"Custom fields in the registration form","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.CustomFieldData"}},"disclaimers":{"type":"array","description":"List of disclaimers","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$Disclaimer"}},"socialLinks":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.SocialLinks","description":"Social media links of the attendee"},"ticketDetails":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$TicketDetails","description":"Ticket and other related details"},"qrCodeImgUrl":{"type":"string","description":"URL of the attendee's QR code image","example":"https://cdn.zuddl.com/qrcodes/atnd_12345abcde.png"},"confirmationCode":{"type":"string","description":"Confirmation code for registration","example":"01U6K9"},"status":{"type":"string","description":"Status of the attendee","enum":["PENDING","REJECTED","REGISTERED","DELETED","APPROVED_NOT_REGISTERED","INCOMPLETE"],"example":"REGISTERED"},"statusUpdatedAt":{"type":"string","format":"date-time","description":"Timestamp when the attendee’s status was updated","example":"2025-04-07T09:57:55.71874Z"},"statusSource":{"type":"string","description":"Source of the attendee's status","enum":["MANUAL_UPDATE","SYSTEM_UPDATE"],"example":"MANUAL_UPDATE"},"source":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$RegistrationSource","description":"Registration source details"},"roles":{"type":"array","description":"Roles of this attendee","example":["ATTENDEE","SPEAKER"],"items":{"type":"string","enum":["ATTENDEE","ORGANIZER","SPEAKER","SPONSOR","MODERATOR"]}},"unsubscribedNotificationDetails":{"type":"array","description":"List of unsubscribed notification categories","example":[{"unsubscribeReason":"unsubscribeReasonExample","categoryName":"PROMOTIONAL"}],"items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$UnsubscribedNotificationDetail"}},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-04-07T09:57:55.826749Z"},"createdBy":{"type":"string","description":"User ID of the creator","example":"a412e3d2-e15e-4fe0-bf35-7fcfb235a4b2"},"updatedAt":{"type":"string","format":"date-time","description":"Update timestamp","example":"2025-04-07T09:57:56.045946Z"}}},"org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$Profile":{"properties":{"firstName":{"type":"string","description":"First name of the attendee","example":"Jane"},"lastName":{"type":"string","description":"Last name of the attendee","example":"Smith"},"email":{"type":"string","description":"Email address of the attendee","example":"jane.smith@example.com"},"company":{"type":"string","description":"Company name of the attendee","example":"Zuddl"},"designation":{"type":"string","description":"Title or designation of the attendee","example":"Senior Software Engineer"},"bio":{"type":"string","description":"Short biography of the attendee.","example":"Jane is a senior engineer with over 10 years of experience in cloud architecture."},"headline":{"type":"string","description":"Professional headline of the attendee","example":"Cloud Architecture Expert | Tech Speaker"},"industry":{"type":"string","description":"Industry of the attendee’s company","example":"Information Technology"},"country":{"type":"string","description":"Country of the attendee","example":"United States"},"phoneNumber":{"type":"string","description":"Phone number of the attendee","example":"+1-2125551234"},"profilePictureUrl":{"type":"string","description":"URL to the attendee’s profile picture","example":"https://cdn.zuddl.com/attendees/atnd_12345abcde/profile.jpg"}}},"org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$RegistrationSource":{"properties":{"type":{"type":"string","description":"Type of registration source","enum":["ATTENDEE_SIDE","ORGANIZER_SIDE","INTEGRATION","LEAD_CAPTURE","ZUDDL_API","UNKNOWN"],"example":"ZUDDL_API"},"referrer":{"type":"string","description":"Referrer information","example":"https://site.zuddl.com/landing-page"},"utmParams":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$RegistrationSource$UTMParams","description":"UTM parameters"},"metadata":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$RegistrationSource$SourceMetadata","description":"Metadata associated with the registration source","example":{"key":"value"}}}},"org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$RegistrationSource$SourceMetadata":{"properties":{"ipAddress":{"type":"string","description":"IP address of the device used for registration","example":"192.168.1.100"},"deviceType":{"type":"string","description":"Type of device used for registration","enum":["IOS","ANDROID","WEB","DESKTOP","MOBILE","TABLET","UNKNOWN"],"example":"DeviceType::MOBILE"},"ipCity":{"type":"string","description":"City of the IP address","example":"New York"},"ipCountry":{"type":"string","description":"Country of the IP address","example":"USA"},"ipCountryIsoCode":{"type":"string","description":"ISO code of the country of the IP address","example":"US"},"ipState":{"type":"string","description":"State or region of the IP address","example":"NY"},"ipStateIsoCode":{"type":"string","description":"ISO code of the state or region of the IP address","example":"NY"},"userAgent":{"type":"string","description":"User-agent string used by the user for registration","example":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"},"latitude":{"type":"string","description":"Latitude of the IP address","example":40.7128},"longitude":{"type":"string","description":"Longitude of the IP address","example":-74.006},"osType":{"type":"string","description":"Operating system type used by the device for registration","enum":["ANDROID","IOS","UNKNOWN"],"example":"OsType::IOS"},"platformType":{"type":"string","description":"Platform type used by the device for registration","enum":["WEB","APP"],"example":"PlatformType::WEB"}}},"org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$RegistrationSource$UTMParams":{"properties":{"id":{"type":"string","description":"UTM id","example":123456},"source":{"type":"string","description":"UTM source","example":"newsletter"},"medium":{"type":"string","description":"UTM medium","example":"email"},"campaign":{"type":"string","description":"UTM campaign","example":"march_promo"},"term":{"type":"string","description":"UTM term","example":"newsletter"},"content":{"type":"string","description":"UTM content","example":"newsletter"}}},"org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$TicketDetails":{"properties":{"ticketTypeId":{"type":"string","description":"Unique identifier of the ticket type created on Zuddl","example":"f6b8cf1f-64e5-4801-935c-f6398bb111cd"},"ticketName":{"type":"string","description":"Ticket name","example":"VIP Pass"},"addOns":{"type":"array","description":"List of add-ons purchased for the ticket","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee$TicketDetails$AddOn"}}}},"org.events.app.domain.api_product.dtos.PageResponse$Pagination":{"properties":{"next":{"type":"string","format":"uri","description":"URI of the next page. Also indicates the presence of a next page.","example":"/{apiEndpoint}?page=3"},"current":{"type":"string","format":"uri","description":"URI of the current page.","example":"/{apiEndpoint}?page=2"},"previous":{"type":"string","format":"uri","description":"URI of the previous page. Also indicates the presence of a previous page.","example":"/{apiEndpoint}?page=1"}}},"org.events.app.domain.api_product.event.Event$EventLocation":{"properties":{"venue":{"type":"string","description":"venue of the event"},"address":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.Event$EventLocation$EventLocationAddress","description":"address of the event"},"coordinates":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.Event$EventLocation$Coordinates","description":"coordinates of the event"},"mapUrl":{"type":"string","description":"mapUrl of the event","example":"https://www.google.com/maps/place/?q=place_id:ChIJ_Q8bfYdGXj4Rz1s_sFHJqcA"}}},"org.events.app.domain.api_product.event.Event$EventLocation$Coordinates":{"properties":{"latitude":{"type":"string","description":"latitude of the event address","example":24.4194509},"longitude":{"type":"string","description":"longitude of the event","example":27.4194509}}},"org.events.app.domain.api_product.event.Event$EventLocation$EventLocationAddress":{"properties":{"address":{"type":"string","description":"venue of the event"},"addressLine2":{"type":"string","description":"addressLine2 of the event"},"stateProvince":{"type":"string","description":"stateProvince of the event"},"postalCode":{"type":"string","description":"postalCode of the event"},"country":{"type":"string","description":"country of the event"}}},"org.events.app.domain.api_product.event.EventListPage":{"properties":{"pagination":{"$ref":"#/components/schemas/org.events.app.domain.api_product.dtos.PageResponse$Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.Event"}}}},"org.events.app.domain.api_product.event.EventDetail":{"properties":{"kind":{"type":"string"},"url":{"type":"string","format":"uri"},"eventId":{"type":"string","format":"uuid","description":"ID of the event","example":"h826a64f-807-4289-9024-9a120792c3d8"},"organizationId":{"type":"string","format":"uuid","description":"ID of the organization","example":"h826a64f-807-4289-9024-9a120792c3d8"},"name":{"type":"string","description":"Name of the event","example":"Huddle with zuddl."},"teamName":{"type":"string","description":"TeamName of the event","example":"General"},"description":{"type":"string","description":"Description of the event","example":"join us to learn more about zuddl."},"identifier":{"type":"string","description":"Identifier of the event","example":"event-123"},"startDate":{"type":"string","format":"date-time","description":"startDate of the event","example":"2025-04-11T12:30:00Z"},"endDate":{"type":"string","format":"date-time","description":"endDate of the event","example":"2025-04-14T12:30:00Z"},"timezone":{"type":"string","description":"Timezone of the event","example":"UTC/IST"},"status":{"type":"string","description":"Status of the event","enum":["UPCOMING","ONGOING","CANCELED","COMPLETED"],"example":"ONGOING/COMPLETED"},"type":{"type":"string","description":"Type of the event","enum":["EVENT","FIELD_EVENT","WEBINAR","THIRD_PARTY_EVENT"],"example":"WEBINAR/FIELD_EVENT/EVENT"},"eventFormat":{"type":"string","description":"Format of the event","enum":["VIRTUAL","IN_PERSON","HYBRID"],"example":"VIRTUAL/IN_PERSON/HYBRID"},"websiteUrl":{"type":"string","description":"websiteUrl of the event","example":"https://zuddl.com"},"parentEventId":{"type":"string","format":"uuid","description":"parentEventId of the event","example":"h826a64f-807-4289-9024-9a120792c3d8"},"location":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.Event$EventLocation","description":"location of the event"},"virtualEventUrl":{"type":"string","description":"virtualEventUrl of the event","example":"https://zuddl.com"},"createdAt":{"type":"string","format":"date-time","description":"createdAt of the event","example":"2025-04-11T12:30:00Z"},"createdBy":{"type":"string","format":"uuid","description":"createdBy of the event","example":"h826a64f-807-4289-9024-9a120792c3d8"},"updatedAt":{"type":"string","format":"date-time","description":"updatedAt of the event","example":"2025-04-11T12:30:00Z"},"updatedBy":{"type":"string","format":"uuid","description":"updatedBy of the event","example":"h826a64f-807-4289-9024-9a120792c3d8"}}},"org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetails":{"properties":{"kind":{"type":"string","description":"Type of the resource","example":"Sponsor"},"url":{"type":"string","format":"uri"},"id":{"type":"string","format":"uuid","description":"Unique ID of the sponsor","example":"spo-789ghi"},"eventId":{"type":"string","description":"Event ID to which this sponsor belongs","example":"evt-abc123xyz"},"name":{"type":"string","description":"Sponsor's name","example":"Acme Corp"},"title":{"type":"string","description":"Display title for the sponsor","example":"Acme's sponsorship"},"description":{"type":"string","description":"Description of the sponsor","example":"Acme Corp is a leading..."},"websiteUrl":{"type":"string","example":"https://acme.com"},"logoUrl":{"type":"string","example":"https://example.com/sponsors/acme_logo.png"},"email":{"type":"string","example":"sponsorship@acme.com"},"coverImageUrl":{"type":"string","example":"https://example.com/sponsors/acme_cover.png"},"tier":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetails$Tier","description":"Sponsorship tier information"},"booths":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetails$BoothRef","description":"Reference to sponsor's booth"},"createdAt":{"type":"string","format":"date-time","description":"Timestamp when this sponsor was created","example":"2024-01-06T14:00:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"Timestamp when this sponsor was last updated","example":"2024-01-06T15:00:00Z"}}},"org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetails$BoothRef":{"properties":{"boothId":{"type":"string","example":"bth-123jkl"},"boothName":{"type":"string","example":"Acme Booth"}}},"org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetails$Tier":{"properties":{"tierId":{"type":"string","description":"Tier ID","example":"tier-gold"},"tierName":{"type":"string","description":"Tier name","example":"Gold"}}},"org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetailsPage":{"properties":{"pagination":{"$ref":"#/components/schemas/org.events.app.domain.api_product.dtos.PageResponse$Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.sponsor.dtos.SponsorDetails"}}}},"org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetails":{"properties":{"kind":{"type":"string","description":"Type of the resource","example":"Speaker"},"url":{"type":"string","format":"uri"},"id":{"type":"string","format":"uuid","description":"Unique ID of the speaker","example":"spk-456def"},"eventId":{"type":"string","description":"Event ID to which this speaker belongs","example":"evt-abc123xyz"},"speakerOrder":{"type":"integer","format":"int32","description":"Order of appearance for this speaker"},"createdAt":{"type":"string","format":"date-time","description":"Timestamp when this speaker was created","example":"2024-01-05T10:00:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"Timestamp when this speaker was last updated","example":"2024-01-05T11:30:00Z"},"profile":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetails$Profile","description":"Speaker profile information"},"socialLinks":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetails$SocialLinks","description":"Speaker's social and website links"},"sessions":{"type":"array","description":"Sessions where this speaker appears","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetails$SessionRef"}}}},"org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetails$Profile":{"properties":{"firstName":{"type":"string","example":"Alice"},"lastName":{"type":"string","example":"Smith"},"bio":{"type":"string","description":"Bio of the speaker (Markdown supported)","example":"Alice is a renowned expert..."},"company":{"type":"string","example":"Tech Innovators Inc."},"designation":{"type":"string","example":"Chief Technology Officer"},"headline":{"type":"string","example":"Visionary Leader in Tech"},"picUrl":{"type":"string","description":"Profile picture URL","example":"https://example.com/speakers/alice.jpg"}}},"org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetails$SocialLinks":{"properties":{"linkedInProfile":{"type":"string","example":"https://linkedin.com/in/alicesmith"},"twitterProfile":{"type":"string","example":"https://twitter.com/alicesmith"},"facebookProfile":{"type":"string","example":"https://facebook.com/alicesmith"},"websiteUrl":{"type":"string","example":"https://alicesmith.com"}}},"org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetailsPage":{"properties":{"pagination":{"$ref":"#/components/schemas/org.events.app.domain.api_product.dtos.PageResponse$Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.speaker.dtos.SpeakerDetails"}}}},"org.events.app.domain.api_product.event.session.dtos.SessionDetails":{"properties":{"kind":{"type":"string"},"url":{"type":"string","format":"uri"},"id":{"type":"string","format":"uuid","description":"ID of the session","example":"d5e31ba5-2d1e-4918-bb60-dd1514b4b397"},"title":{"type":"string","description":"Name of the session","example":"Session 1"},"description":{"type":"string","description":"Description of the session","example":"Session 1 description"},"startDateTime":{"type":"string","format":"yyyy-MM-dd HH:mm:ss.SSSZZZZ","description":"Start date time of the session","example":"2025-03-14T05:55:00Z"},"endDateTime":{"type":"string","format":"yyyy-MM-dd HH:mm:ss.SSSZZZZ","description":"End date time of the session","example":"2025-03-14T05:55:00Z"},"location":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.session.dtos.SessionDetails$Location","description":"Location details of the session"},"speakers":{"type":"array","description":"Speakers of the session","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.session.dtos.SessionDetails$Speaker"}},"sponsors":{"type":"array","description":"Sponsors of the session","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.session.dtos.SessionDetails$Sponsor"}},"tags":{"type":"array","description":"Tags of the session","example":["tag1","tag2"],"items":{"type":"string"}}}},"org.events.app.domain.api_product.event.session.dtos.SessionDetails$Location":{"properties":{"locationId":{"type":"string","format":"uuid","description":"ID of the session location","example":"d5e31ba5-2d1e-4918-bb60-dd1514b4b397"},"locationName":{"type":"string","description":"Name of the session location","example":"Session location"},"type":{"type":"string","description":"virtual venue type of the session","enum":["STAGE","SESSION","NETWORKING","EXPO","LOBBY","SCHEDULE","ROOMS","IN_PERSON","NONE","STUDIO"]},"link":{"type":"string","description":"Link of the session location"}}},"org.events.app.domain.api_product.event.session.dtos.SessionDetailsPage":{"properties":{"pagination":{"$ref":"#/components/schemas/org.events.app.domain.api_product.dtos.PageResponse$Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.session.dtos.SessionDetails"}}}},"org.events.app.domain.api_product.event.attendee.dtos.EventAttendeePage":{"properties":{"pagination":{"$ref":"#/components/schemas/org.events.app.domain.api_product.dtos.PageResponse$Pagination"},"data":{"type":"array","items":{"$ref":"#/components/schemas/org.events.app.domain.api_product.event.attendee.dtos.EventAttendee"}}}}},"securitySchemes":{"api_key":{"type":"apiKey","description":"Provide your API key secret in the `Authorization` header","name":"Authorization","in":"header"}}}}